html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto;
    box-sizing: border-box;
}

.intro {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;
    max-width: 600px;
}

.title {
    font-family:'Segoe UI', Arial,sans-serif;
    margin: 10px 0;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    width: 100%;
}

.subtitle {
    opacity: 0.6;
    width: 100%;
    margin: 15px 0px;
}

.text {
    text-align: justify !important;
    width: 100%;
    margin: 15px 0px;
}